<div class="d-flex bg-warning flex-column align-items-center mt-5">
    <img class="animate__animated animate__zoomInRight" src="car.png" alt="taxi" width="600px" height="400px">
    <div class="button  mt-5 mb-5">
        <button type="button" class="btn btn-danger rounded-pill fw-bold">Book a ride</button>
    </div>
</div>