
@import "ember-bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');    
h1,h2,.tf{
    font-family: 'Bebas Neue', cursive;
}

.nav-link:hover{
    // background-color: bisque;
    border-bottom: 2px solid bisque;
    border-radius: 10%;
    color: black;
}
.card{
    width: 15rem;
    text-align: center;
}
.footer{
    background-color: rgba(0, 0, 0, 0.2);
}
.btn-1:focus{
    background-color: yellow;
}
input[type=radio]:checked{
    border: red;
    background-color: yellowgreen;
    color: red;
    
}