<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="A">A</option>
  <option value="B">B</option>
  <option value="C">C</option>
</select>
{{yield}}