<div class="title-banner d-flex bg-dark sticky-top  justify-content-between">
    <h1 class="text-center text-light mt-3 ml-4"><span class="text-warning">Taxi</span> Park</h1>
    <h1 class="mt-3 text-light">{{@title}}</h1>
    <div>
        <LinkTo @route="index" class="btn btn-danger mr-3 mt-3" >Log out</LinkTo>
    </div>

</div>
<div>
    <img src="back.jpg" alt="banner" height="500px" width="100%" >
</div>