<table class="table mt-5 position-relative text-center" >
          
          <thead>
              <tr>
                <th scope="col">S.NO</th>
                <th scope="col">Customer Name</th>
                <th scope="col">From Area</th>
                <th scope="col">To Area</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Kilometer</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody class="raidreport">
              {{!-- template-lint-disable no-unused-block-params --}}
              {{!-- template-lint-disable no-implicit-this --}}
             {{#each @result as |item index|}}
                {{!-- template-lint-disable no-quoteless-attributes --}}
                <Admin::Book @raid={{item}}
                @value={{sum index}}></Admin::Book>
             {{/each}}
                
                
              
            </tbody>

</table>
{{this.model}}

{{yield}}