<h1 class="text-center text-light mt-5"><span class="text-warning">Taxi</span> Park</h1>
<div class="buttons d-flex justify-content-end">
    <LinkTo @route="book" type="button" class="btn btn-primary mr-2">Register</LinkTo>
    <LinkTo @route="book" type="button" class="btn btn-primary mr-3">Login</LinkTo>
</div>
