<h1 class="text-center text-light mt-5"><span class="text-warning">Taxi</span> Park</h1>
<div class="buttons d-flex justify-content-end">
    <button type="button" class="btn btn-primary mr-2">Register</button>
    <button type="button" class="btn btn-primary mr-3">Login</button>
</div>
