<div class="navbar d-flex justify-content-center mt-5">
    <ul class="nav ">
        <li class="nav-item"><a href="#" class="nav-link text-light ">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-light">Book a ride</a></li>
        <li class="nav-item"><a href="#service" class="nav-link text-light">Service</a></li>
    </ul>
</div>