<div class="  clearfix ml-5 start-0 position-relative d-flex justify-content-center">
    <div>
        <h4 class=" tf text-light text-center mt-5 display-">Get texi Now </h4>
        <h1 class="text-warning text-center mt-2 display-4">1001-9001</h1>
    </div>
<div class=" mt-5 ml-5 mb-5  fa-5x">
    <i class="fa fa-phone text-light " aria-hidden="true"></i>
</div>
</div>
